.cardContainer {
    perspective: 1000px; /* Cria a perspectiva para o efeito de flip */
  }
  
  .container {
    position: relative;
    width: 345px;
    min-height: 300px;
    transform-style: preserve-3d; /* Preserva os elementos em 3D */
    transition: transform 0.6s ease-in-out; /* Controla a duração do efeito de flip */
  }
  
  .container:hover {
    transform: rotateY(180deg); /* Rotação no eixo Y ao passar o mouse */
  }
  
  .cardFront,
  .cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Oculta o lado não visível do card */
    border-radius: 10px;
  }
  
  .cardFront {
    background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Posiciona o título na parte inferior */
    align-items: center;
    padding: 0; /* Remove padding interno para maximizar o espaço da imagem */
    box-shadow: 0 16px 14px 0 rgba(0, 0, 0, 0.5);
    overflow: hidden; /* Garante que a imagem não vaze para fora do card */
  }
  
  .cardBack {
    background: linear-gradient(180deg, #132a53 0%, #576cbc 100%);
    transform: rotateY(180deg); /* Gira o lado traseiro */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    padding: 24px;
  }

  .title {
    font-size: 20px; /* Tamanho ajustado para caber melhor */
    font-weight: 700;
    text-align: center;
    margin: 10px 0; /* Adiciona espaço ao redor do título */
    padding: 5px 0;
    color: white; /* Contraste com o fundo */
    width: 100%; /* Faz o título ocupar toda a largura do card */
  }

  .image {
    width: 100%; /* Faz a imagem ocupar toda a largura */
    height: calc(100% - 50px); /* Deixa espaço de 50px para o título */
    object-fit: cover; /* Garante que a imagem se ajuste corretamente ao espaço */
    border-radius: 10px 0px 0px;
  }
  
  .description {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }
  
  .skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: 0;
  }
  
  .skill {
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    padding: 5px 15px;
    color: #fff;
  }
  
  .links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
  }
  
  .link {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 100px;
    background: rgba(73, 124, 182, 0.8);
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  .link:hover {
    background: rgba(73, 124, 182, 0.5);
  }
