@import "../../vars.css";

.container {
    position: relative;
    background-color: rgba(12, 12, 12, 0.6);
    border-radius: 15px;
    padding: 73px;
    margin-top: 129px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutImage {
    padding-top: 40px;
    padding-right: 50px;
    width: 30%;
}

.aboutItems {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.aboutItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    background-image: linear-gradient(
        90deg,
        rgba(165, 215, 232, 0.42) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
}

.aboutItem:hover {
    background-size: 100% 100%;
}

.aboutItem h3 {
    font-size: 25px;
    font-weight: 600;
}

.aboutItem p {
    font-size: 25px;
}

@media screen and (max-width: 830px) {
    .container {
        margin-top: 0px;
        background-color: transparent;
        padding: 20px; /* Reduzi o padding */
    }

    .title {
        margin-top: 50px;
        font-size: 28px; /* Reduzi o tamanho da fonte */
        text-align: center;
    }

    .content {
        flex-direction: column;
        align-items: center;
        text-align: center; /* Alinha o texto ao centro */
    }

    .aboutImage {
        display: none;
    }

    .aboutItems {
        margin-top: 20px;
        gap: 30px; /* Reduzi o espaçamento entre os itens */
    }

    .aboutItem {
        flex-direction: column;
        align-items: center;
        padding: 15px; /* Reduzi o padding */
        text-align: center;
    }

    .aboutItem img {
        width: 60px; /* Reduzi o tamanho dos ícones */
        height: 60px;
        margin-bottom: 10px;
    }

    .aboutItem h3 {
        font-size: 40px; /* Reduzi o tamanho do título */
        font-weight: 600;
    }

    .aboutItem p {
        font-size: 19px; /* Reduzi o tamanho do texto */
        line-height: 1.4; /* Melhor espaçamento entre linhas */
    }

    .aboutItem:hover {
        background-size: 0% 0%;
    }
}