@import "../../vars.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 61px;
  z-index: 2;
  margin: 0 10%;
}

.menuBtn {
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 101;
}

.menu {
  display: flex;
  align-items: center;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  text-decoration: none;
  display: block;
  padding: 5px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  font-weight: bold;
  position: relative;
  z-index: 1;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-primary) 50%,
    #fff 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  transition: all 0.3s ease-in-out;
}

.menuItems a:hover {
  background-position: 0%;
}

.menuItems a::before {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -3px;
  left: 0;
  background: var(--color-primary);
  transition: width 0.3s ease-in-out;
}

.menuItems a:hover::before {
  width: 100%;
}

.languageButton {
  margin-left: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  color: var(--color-text);
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  font-size: 36px;
}

.languageButton:hover {
  background-color: var(--color-primary);
}

.languageMenu {
  background: var(--color-bg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.514);
  border-radius: 8px;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: absolute;
  right: 0;
}

.languageItem {
  padding: 8px 12px;
  color: var(--color-text);
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.languageItem:hover {
  background-color: var(--color-primary);
  color: white;
}

.languageSelected {
  font-weight: bold;
  color: var(--color-primary);
}

.checkIcon {
  color: var(--color-primary);
}

/* Responsividade */
@media screen and (max-width: 830px) {
  .menu {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    position: absolute;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding: 20px;
    background: rgb(25, 55, 109);
    background: linear-gradient(0deg, rgba(25, 55, 109, 0.2) 0%, rgba(25,55,109, 1) 100%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }

  .menuOpen {
    display: flex;
    animation: slideDown 0.3s ease-in-out;
     z-index: 1;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
